.container {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selectButton {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px rgb(0 20 80 / 20%);
  border: 1px solid rgba(0, 0, 90, 0.1);
  background: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.5s ease-out;
  cursor: pointer;
}

.selectButton:hover {
  background-color: #e7fbbe;
}

.imageName {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 100%;
  box-shadow: 0 2px 10px rgb(0 20 80 / 20%);
  border: 1px solid rgba(0, 0, 90, 0.1);
  background: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  margin-left: 30px;
  color: gray;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.sendButton {
  height: 50px;
  width: 5rem;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgb(0 20 80 / 20%);
  border: 1px solid rgba(0, 0, 90, 0.1);
  background: #fff;
  transition: background-color 0.5s ease-out;
  cursor: pointer;
}

.sendButton:hover {
  background-color: #d6e5fa;
}
